artefact-generator/src/main/resources/templates/Oracle-BPEL/Simple/WSDL_NotifyInventoryChange.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
    
     targetNamespace="http://virginmedia/wsdl/NotifyInventoryChange/0/1"
     xmlns:cor="http://xmlns.oracle.com/SOA_VM_Application/NotifyInventoryChange/BPELProcess_NotifyInventoryChange/correlationset"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns2="urn:horvathv:soa-learning:inventory-confirmation"
     xmlns:ns1="http://schemas.oracle.com/bpel/extension"
     xmlns:ns4="http://virginmedia/schema/NotifyInventoryChange"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
     xmlns:ns3="http://schemas.xmlsoap.org/ws/2003/03/addressing"
     xmlns:tns="http://virginmedia/wsdl/NotifyInventoryChange/0/1"
     xmlns:ns0="http://virginmedia/schema/faults/1/0"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"     
    >
    <plnk:partnerLinkType name="wsdlNotifyInventoryChange">
        <plnk:role name="VirginMediaPortTypeRole" portType="tns:VirginMediaPortType"/>
    </plnk:partnerLinkType>
    <!--bpws:propertyAlias propertyName="cor:property_orderId" messageType="ns2:InventoryConfirmationRequestt"
         part="payloadd" query="//*[local-name()='orderId']/text()">
    </bpws:propertyAlias-->
    <bpws:propertyAlias propertyName="cor:property_orderId" messageType="tns:InventoryConfirmationRequest"
         part="payload"  query="//*[local-name()='orderId']/text()">
    </bpws:propertyAlias>
    <bpws:propertyAlias propertyName="cor:property_orderId" messageType="tns:ProcessAdjustmentRequest" part="bodyUPI"
         xmlns:ns5="http://virginmedia/schema/RequestHeader/1/0/0" query="//ns4:Adjustment[1]/ns4:orderID/text()">
    </bpws:propertyAlias>
    <wsdl:import namespace="urn:horvathv:soa-learning:inventory-confirmation" location="WSDL_InventoryConfirmation.wsdl"/>
    <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="RuntimeFault.wsdl"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://virginmedia/wsdl/NotifyInventoryChange/0/1" elementFormDefault="qualified">
            <xsd:import namespace="http://virginmedia/schema/NotifyInventoryChange" schemaLocation="xsd/NotifyInventoryChange.xsd"/>
            <xsd:import namespace="http://virginmedia/schema/faults/1/0" schemaLocation="xsd/SOAPFault.1.0.0.xsd"/>
            <xsd:element name="InventoryConfirmationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="confirmed" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="xsd/Addressing.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ProcessAdjustmentRequest">
        <wsdl:part name="bodyUPI" element="ns4:NtfyInvChngProcessAdjustmentRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcessAdjustmentResponse">
        <wsdl:part name="bodyUPO" element="ns4:NtfyInvChngProcessAdjustmentResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessAdjustmentFault">
        <wsdl:part name="bodyUPF" element="ns0:SOAPFaultMessage"/>
    </wsdl:message>
    <wsdl:message name="ProcessReceiptRequest">
        <wsdl:part name="bodyUPI" element="ns4:NtfyInvChngProcessReceiptRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcessReceiptResponse">
        <wsdl:part name="bodyUPO" element="ns4:NtfyInvChngProcessReceiptResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessReceiptFault">
        <wsdl:part name="bodyUPF" element="ns0:SOAPFaultMessage"/>
    </wsdl:message>
    <wsdl:message name="ProcessShipmentRequest">
        <wsdl:part name="bodyUPI" element="ns4:NtfyInvChngProcessShipmentRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcessShipmentResponse">
        <wsdl:part name="bodyUPO" element="ns4:NtfyInvChngProcessShipmentResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessShipmentFault">
        <wsdl:part name="bodyUPF" element="ns0:SOAPFaultMessage"/>
    </wsdl:message>
    <wsdl:message name="ProcessInventoryAllocationRequest">
        <wsdl:part name="bodyUPI" element="ns4:NtfyInvChngProcessAllocationRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcessInventoryAllocationResponse">
        <wsdl:part name="bodyUPO" element="ns4:NtfyInvChngProcessAllocationResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessInventoryAllocationFault">
        <wsdl:part name="bodyUPF" element="ns0:SOAPFaultMessage"/>
    </wsdl:message>
    <wsdl:message name="ProcessInventoryDeallocationRequest">
        <wsdl:part name="bodyUPI" element="ns4:NtfyInvChngProcessDeallocationRequest"/>
    </wsdl:message>
    <wsdl:message name="ProcessInventoryDeallocationResponse">
        <wsdl:part name="bodyUPO" element="ns4:NtfyInvChngProcessDeallocationResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessInventoryDeallocationFault">
        <wsdl:part name="bodyUPF" element="ns0:SOAPFaultMessage"/>
    </wsdl:message>
    <wsdl:message name="InventoryConfirmationRequest">
        <wsdl:part name="payload" element="tns:InventoryConfirmationRequest"/>
    </wsdl:message>
    <wsdl:portType name="VirginMediaPortType">
        <wsdl:operation name="ProcessAdjustment">
            <wsdl:input name="inputMsgUP" message="tns:ProcessAdjustmentRequest"/>
            <wsdl:output name="outputMsgUP" message="tns:ProcessAdjustmentResponse"/>
            <wsdl:fault name="errorMsgUP" message="tns:ProcessAdjustmentFault"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessReceipt">
            <wsdl:input name="inputMsgUP1" message="tns:ProcessReceiptRequest"/>
            <wsdl:output name="outputMsgUP1" message="tns:ProcessReceiptResponse"/>
            <wsdl:fault name="errorMsgUP1" message="tns:ProcessReceiptFault"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessShipment">
            <wsdl:input name="inputMsgUP2" message="tns:ProcessShipmentRequest"/>
            <wsdl:output name="outputMsgUP2" message="tns:ProcessShipmentResponse"/>
            <wsdl:fault name="errorMsgUP2" message="tns:ProcessShipmentFault"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessInventoryAllocation">
            <wsdl:input name="inputMsgUP3" message="tns:ProcessInventoryAllocationRequest"/>
            <wsdl:output name="outputMsgUP3" message="tns:ProcessInventoryAllocationResponse"/>
            <wsdl:fault name="errorMsgUP3" message="tns:ProcessInventoryAllocationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessInventoryDeallocation">
            <wsdl:input name="inputMsgUP4" message="tns:ProcessInventoryDeallocationRequest"/>
            <wsdl:output name="outputMsgUP4" message="tns:ProcessInventoryDeallocationResponse"/>
            <wsdl:fault name="errorMsgUP4" message="tns:ProcessInventoryDeallocationFault"/>
        </wsdl:operation>
        <wsdl:operation name="ReceiveInventoryConfirmation">
            <wsdl:input name="payload" message="tns:InventoryConfirmationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NotifyInventoryChangeBinding" type="tns:VirginMediaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProcessAdjustment">
            <soap:operation style="document" soapAction="urn:ProcessAdjustment"/>
            <wsdl:input name="inputMsgUP">
                <soap:body use="literal" parts="bodyUPI"/>
            </wsdl:input>
            <wsdl:output name="outputMsgUP">
                <soap:body use="literal" parts="bodyUPO"/>
            </wsdl:output>
            <wsdl:fault name="errorMsgUP">
                <soap:fault name="errorMsgUP" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ProcessReceipt">
            <soap:operation style="document" soapAction="urn:ProcessReceipt"/>
            <wsdl:input name="inputMsgUP1">
                <soap:body use="literal" parts="bodyUPI"/>
            </wsdl:input>
            <wsdl:output name="outputMsgUP1">
                <soap:body use="literal" parts="bodyUPO"/>
            </wsdl:output>
            <wsdl:fault name="errorMsgUP1">
                <soap:fault name="errorMsgUP1" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ProcessShipment">
            <soap:operation style="document" soapAction="urn:ProcessShipment"/>
            <wsdl:input name="inputMsgUP2">
                <soap:body use="literal" parts="bodyUPI"/>
            </wsdl:input>
            <wsdl:output name="outputMsgUP2">
                <soap:body use="literal" parts="bodyUPO"/>
            </wsdl:output>
            <wsdl:fault name="errorMsgUP2">
                <soap:fault name="errorMsgUP2" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ProcessInventoryAllocation">
            <soap:operation style="document" soapAction="urn:ProcessInventoryAllocation"/>
            <wsdl:input name="inputMsgUP3">
                <soap:body use="literal" parts="bodyUPI"/>
            </wsdl:input>
            <wsdl:output name="outputMsgUP3">
                <soap:body use="literal" parts="bodyUPO"/>
            </wsdl:output>
            <wsdl:fault name="errorMsgUP3">
                <soap:fault name="errorMsgUP3" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ProcessInventoryDeallocation">
            <soap:operation style="document" soapAction="urn:ProcessInventoryDeallocation"/>
            <wsdl:input name="inputMsgUP4">
                <soap:body use="literal" parts="bodyUPI"/>
            </wsdl:input>
            <wsdl:output name="outputMsgUP4">
                <soap:body use="literal" parts="bodyUPO"/>
            </wsdl:output>
            <wsdl:fault name="errorMsgUP4">
                <soap:fault name="errorMsgUP4" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReceiveInventoryConfirmation">
            <soap:operation style="document" soapAction="urn:ReceiveInventoryConfirmation"/>
            <wsdl:input name="payload">
                <soap:body use="literal" parts="payload"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NotifyInventoryChange">
        <wsdl:port name="VirginMedia" binding="tns:NotifyInventoryChangeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/NotifyInventoryChange/VirginMedia"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
